.wrapper {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.topBlock {
    width: 98%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ff5900;
    padding-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: column;
}

.nameField {
    width: 50%;
    font-size: 20pt;
    padding: 0 15px 0 15px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.80);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

.descriptionField {
    padding: 7px 15px 7px 15px;
    font-size: 16pt;
    width: 96%;
    height: 100px;
    resize: none;
    border: 1px solid rgba(128, 128, 128, 0.4);
    color: rgba(0, 0, 0, 0.80);
    border-radius: 7px;
    outline: none;
    margin-top: 10px;
}

.topBlock label {
    color: #ff5900;
    font-size: 15pt;
}

.nameField::placeholder {
    font-size: 12pt;
    font-style: italic;
    color: rgba(0, 0, 0, 0.35);
}

.descriptionField::placeholder {
    font-size: 10pt;
    font-style: italic;
    color: rgba(0, 0, 0, 0.35);
}

.addQ {
    background-color: #ff5900;
    width: 50px;
    height: 50px;
    margin-left: 70%;
}

.questionsArray {
    margin-top: 20px;
}

.addWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid #ff5900;
}
