@media (max-width: 561px){
    .wrapper {
        position: absolute;
        z-index: 999;
        height: 100vh;
        left: -100%;
    }
}

@media (min-width: 560px){

}

.wrapper{
    display:grid;
    width: 100%;
    min-width: 300px;
    background-color: #fff;
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.active {
    font-weight: 600;
    background-color: #eeeeee;
}
.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navBlock a {
    display: block;
    height: 100%;
}

.navItem:hover {
    cursor: pointer;
    text-decoration: underline;
}

.animOpen{
    animation: openBar 0.3s forwards;
}

.animClose{
    animation: openBar 0.3s forwards;
}

@keyframes openBar {
    from {left: -100%}
    to {left: 0}
}
@keyframes closeBar {
    from {left: 0}
    to {left: -100%}
}